/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/* General Demo Style */
body{
	/*background: #fff; 
	/*color: #000;
	/*font-family: 'Open Sans Condensed', sans-serif;
	/*font-size: 13px;*/
}
a{
	color: #555;
	text-decoration: none;
}
a:hover{
	color: #000;
}
.clr{
	clear: both;
}
.wrapper{
	position: relative;
	width: 100%;
	margin-bottom: 100px;
}

.wrapper p{
	clear: both;
	font-size: 20px;
	font-style: bold;
	text-align: center;
	height: 0px;
	line-height: 35px;
}
.reference{
	padding-top: 40px;
}
h1{
	font-size: 34px;
	position:relative;
	color: #000;
	font-weight: 400;
	text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
    padding: 20px;
	z-index:1000;
	text-transform: uppercase;
	text-align: center;
}
h1 span{
	font-family: 'Playfair Display', serif;
	font-style: italic;
	text-transform: none;
	font-size: 20px;
}
/* Header Style */
.header{
	font-family:"Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	font-size: 10px;
	padding: 3px 5px;
	background: #000;
	opacity: 0.9;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.6);
	box-shadow: 0px 1px 4px rgba(0,0,0,0.6);
}
.header a{
	line-height: 18px;
	padding: 0 4px;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px #000;
	color: #ddd;
}
.header a:hover{
	color: #fff;
}
.header a span{
	font-weight: bold;
}
.header span.right{
	float: right;
}
@media screen and (max-width: 860px) {
	.header a{
		display: block;
		text-align: center;
		font-size: 10px;
		text-shadow: none;
	}
	.header span.right{
		float: none;
	}

	.wrapper p{
	clear: both;
	font-size: 15px;
	font-style: bold;
	text-align: center;
	height: 0px;
	line-height: 35px;

	}	

	.wrapper h2{
		padding-top: 10%;

	}




}



.menubar {
	background-color: #C9E6E6;
	font-size: 25px;
	text-align: center;
	font-family: 'Marvel', sans-serif;
	border: 0px solid;
	padding-top: 15px;
	padding-bottom: 15px;


}


.menubar a:hover {
    color: #F90;
	text-decoration: none

}

.menubar a {
	color: black;	
}


.link {
	 margin-left: 5%;
	 margin-right:5%;
}

.link1 {
	 margin-left: 2%;
	 margin-right: 2%;
}

.link2 {
	 margin-left: 2%;
	 margin-right: 2%;
}

.link3 {
	 margin-left: 2%;
	 margin-right: 2%;
}

.link4 {
	 margin-left: 2%;
	 margin-right: 2%;
}


.sr-only {
	text-align: left;
	margin-left: 30%;
	margin-bottom: 30%;
}


.one {
	border-style:solid;
	border-color: black;
	background-color: black;
	color: white;
	border-width:5px;
	width: 50%;
	margin-left: 5%;
}

p {
	font-size: 100px;
	color: black;
	font-family: 'Open Sans Condensed', sans-serif;
	font-style: bold;

	height: 0px;
	line-height: 40px;
	padding: 0px;
    display: block;
     
    border-right: 150px solid white;
    border-left: 150px solid white;
    border-top: 45px solid #C9E6E6; 

} 


footer {
	font-size: 10px;
	font-family: 'Marvel', sans-serif;
	margin-top:-3%;
	padding-bottom: 1%;
	background-color:#C9E6E6;
	text-align:center;

}




.special2 {
	font-size: 20px;
	font-family: 'Marvel', sans-serif;
	color: black; text-decoration: none;
	background-color: #C9E6E6;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:50px;
	padding-left:50px;

}

.ei-slider{
	position: relative;
	width: 100%;
	max-width: 1920px;
	height: 530px;
	margin: 0 auto;
}


.ei-slider2{
	position: relative;
	width: 100%;
	max-width: 1920px;
	height: 530px;
	margin: 0 auto;
}

.ei-slider3{
	position: relative;
	width: 100%;
	max-width: 1920px;
	height: 530px;
	margin: 0 auto;
}

.ei-slider4{
	position: relative;
	width: 100%;
	max-width: 1920px;
	height: 530px;
	margin: 0 auto;
}

.ei-slider-loading{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:999;
	background: rgba(0,0,0,0.9);
	color: #fff;
	text-align: center;
	line-height: 400px;
}
.ei-slider-large{
	height: 100%;
	width: 100%;
	position:relative;
	overflow: hidden;
}
.ei-slider-large li{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.ei-slider-large li img{
	width: 100%;
}

.ei-slider-large2{
	height: 100%;
	width: 100%;
	position:relative;
	overflow: hidden;
}
.ei-slider-large2 li{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.ei-slider-large2 li img{
	width: 100%;
}


.ei-slider-large3{
	height: 100%;
	width: 100%;
	position:relative;
	overflow: hidden;
}
.ei-slider-large3 li{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.ei-slider-large3 li img{
	width: 100%;
}


.ei-slider-large4{
	height: 100%;
	width: 100%;
	position:relative;
	overflow: hidden;
}
.ei-slider-large4 li{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.ei-slider-large4 li img{
	width: 100%;
}

.ei-title{
	position: absolute;
	width: 30%;
	margin-left: 13%;
	top: 30%;
}
.ei-title h2, .ei-title h3{
	text-align: left;
}
.ei-title h2{
	margin-top: -15%;
	font-size: 30px;
	line-height: 100px;
	font-family: 'Marvel', sans-serif;
	font-style: italic;
	color: #b5b5b5;
}
.ei-title h3{
	font-size: 15px;
	line-height: 25px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #000;

}

.ei-title h4 {
	font-size: 25px;
	margin-bottom: 1%;
	font-family: 'Open Sans Condensed', sans-serif;
}

.ei-slider-thumbs{
	height: 10px;
	margin: 0 auto;
	position: relative;

}
.ei-slider-thumbs li{
	position: relative;
	float: left;
	height: 100%;
	cursor:pointer
}
.ei-slider-thumbs li.ei-slider-element{
	top: 0px;
	left: 0px;
	position: absolute;
	height: 100%;
	z-index: 10;
	text-indent: -9000px;
	background: #000;
	background: rgba(0,0,0,0.9);
}
.ei-slider-thumbs li a{
	display: block;
	text-indent: -9000px;
	background: #C9E6E6;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-webkit-box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	-moz-box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	-webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.ei-slider-thumbs li a:hover{
	background-color: #f0f0f0;
}
.ei-slider-thumbs li img{
	position: absolute;
	top: -40px;
	bottom: 50px;
	z-index: 999;
	max-width: 100%;

}
.ei-slider-thumbs li:hover img{
	opacity: 1;
	bottom: 13px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.progress{
	width: 50%;
	margin-left: 5%;
}

.progresshead{
	margin-top: 50px;
}


.special {
	opacity: 1 !important;
}

.row h3 {
	font-size: 15px;
	line-height: 20px;
	font-family: 'Marvel', sans-serif;
}

.row h2 {
	font-size: 15px;
	line-height: 20px;
	font-family: 'Marvel', sans-serif;
}


.video {
	margin-top: 6%;
}


.Column {
	text-align: justify;

}


.Column h3 {
    font-size: 15px;
	font-family: 'Marvel', sans-serif;
	width: 100%;

}

.row h2 {
    font-size: 17px;
	font-family: 'Roboto Slab', serif;
	width: 100%;
	text-align: justify;
}

.row h4 {
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;

}

.row a {
	color: black;	
	text-decoration: none
}

h5 {
	font-size: 15px;
	font-family: 'Marvel', sans-serif;
	width: 100%;

}




.img-responsive {
	margin-top: -20px;
}

.img {
	margin-top: 10%;
}

.ei-title p{


}

@media screen and (max-width: 830px) {
	.ei-title{
		position: absolute;
		right: 0px;
		margin-right: 0px;
		width: 100%;
		text-align: center;
		top: auto;
		bottom: 10px;
		background: #fff;
		background: rgba(255,255,255,0.9);
		padding: 5px 0;
	}

	.video{
		margin-top: 20%

	}

	.ei-title h2, .ei-title h3{
		text-align: center;
	}
	.ei-title h2{
		font-size: 35px;
		line-height: 10px;
		margin-bottom: 30px;
	}


	.ei-title h3{
		font-size: 15px;
		line-height: 25px;
		margin-bottom: 10%;
	}

	.ei-title h4{
		font-size: 15px;
		line-height: 25px;

	}

		.link {
		 margin-left: 0%;
		 margin-right:0%;
	}
	
		.link1 {
		 margin-left: 0%;
		 margin-right: 0%;
	}
	
		.link2 {
		 margin-left: 0%;
		 margin-right: 0%;
	}
	
		.link3 {
		 margin-left: 0%;
		 margin-right: 0%;
	}
	
		.link4 {
		 margin-left: 0%;
		 margin-right: 0%;
	}


	.ei-slider{
		position: relative;
		width: 100%;
		max-width: 1920px;
		height: 350px;
		margin: 0 auto;
	}

	.ei-slider2{
		position: relative;
		width: 100%;
		max-width: 1920px;
		height: 350px;
		margin: 0 auto;
	}

	.ei-slider3{
		position: relative;
		width: 100%;
		max-width: 1920px;
		height: 350px;
		margin: 0 auto;
	}

	.ei-slider4{
		position: relative;
		width: 100%;
		max-width: 1920px;
		height: 350px;
		margin: 0 auto;
	}


	.special2 {
		font-family: 'Marvel', sans-serif;
		color: black; text-decoration: none;
		background-color: #C9E6E6;
		padding-top:0px;
		padding-bottom:10px;
		padding-right:50px;
		padding-left:50px;
	
	}

	p {
		font-size: 100px;
		color: black;
		font-family: 'Open Sans Condensed', sans-serif;
		font-style: bold;
	
		height: 0px;
		line-height: 40px;
		padding: 0px;
    	display: block;
    	 
    	border-right: 100px solid white;
    	border-left: 100px solid white;
    	border-top: 45px solid #C9E6E6; 

	}

	.menubar {
		background-color: #C9E6E6;
		font-size: 20px;
		text-align: center;
		font-family: 'Marvel', sans-serif;
		border: 0px solid;
		padding-top: 15px;
		padding-bottom: 15px;
	}


	.Column {
    	margin-top: 5%;
    	margin-bottom: 5%;
    	margin-left:5%;
    	margin-right: 5%;

	}

	.quote {
		margin-left:5%;
    	margin-right: 5%;
	}

	.aboutme {
		margin-left:0%;
    	margin-right: 0px;
	
	}

	#special {
		opacity: 1 !important;
	}


}


div.video-container {
	text-align: center;
}
iframe.hidden-sm.hidden-xs {
	display: inline-block !important;
}
